* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Ubuntu Mono';
    font-size: 15px;
    height: 100%;
    overflow-y: auto
  }

  button {
    font: inherit;
  }
  
  .header {
    background-color: #f1f1f1;
    padding: 5px;
    text-align: center;
    font-size: 10px;
  }

  .column {
    float: left;
    padding: 0px;
    height: 90vh;
  }
  
  .column.left {
    width: 225px;
  }
  
  .column.middle {
    width: calc(60% - 100px);
  }

  .column.right {
    position: relative;
    width: calc(40% - 125px);
    /* padding: 12px; */
  }
  
  .atom-content {
    margin-top: 20px;
    padding: 10px;
    overflow-y: auto;
  }

  #start {
    position: absolute;
    padding: 10px;
    max-height: 90%;
    bottom: 10%;
    overflow-y: auto;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .footer {
    background-color: #f1f1f1;
    padding: 5px;
    text-align: center;
  }
  
  .label {
    margin-left: 25px;
    position: absolute;
    color: black; 
    font-family: serif; 
    font-size: 12px; 
    pointer-events: none; 
  }

  .button-container {
    position: absolute;
    padding: 5px;
    
  }

  .bottom {
    bottom: 0;
  }

  .button-container button {
    margin-right: 10px;
    margin-bottom: 20px;
  }

  #mol-gui {
    background-color: inherit;
    color: black;
    --widget-color: #7C7C7C;
    --hover-color: #7C7C7C
  }

  .lil-gui {
    width: 100% !important;
    font-family: 'Ubuntu Mono';
  }

  .lil-gui button {
    font-family: 'Ubuntu Mono';
    font-size: 12px;
  }

  .within-container {
    display: flex;           
    gap: 0px;              
    align-items: center;   
}


/* Style the tab */
.tab-selection-method {
  display: flex;  
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  border: none;
  background-color: #7C7C7C;
}

.tab-rep {
  display: flex;  
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  border: none;
  background-color: #7C7C7C;
}

/* Style the buttons that are used to open the tab content */
.tab-selection-method button {
  background-color: #7C7C7C;
  border: none;
  border-radius: 0px;
  outline: none;
  cursor: pointer;
  white-space: nowrap;
  padding: 2px 5px;
  margin: 0;
}

.tab-rep button {
  background-color: #7C7C7C;
  border: none;
  border-radius: 0px;
  outline: none;
  cursor: pointer;
  white-space: nowrap;
  padding: 2px 5px;
  margin: 0;
}

/* Create an active/current tab-link-selection-method class */
.tab-selection-method button.active {
  background-color: #5D5D5D;
}

.tab-rep button.active {
  color: white;
  background-color: #1F1F1F; 
}

.tab-link-rep.active {
  background-color: #1F1F1F; 
}

.distance .controller > .name {
  min-width: 0px; 
}

.distance {
  display: flex;
  gap: 20px; 
}

/* Style the tab content */
.tab-content-selection-method {
  padding: 1px 2px;
  border: none;
}

.tab-content-rep {
  border: none;
}

.selection-option {
  background-color: #5D5D5D;
  margin: 10px;
}

.controller.option {
  margin: 0 px;
}

.mol-rep-option {
  padding: 5px;
}

.text {
  padding: 5px;
  margin: 0px;
  font-size: 15px;
}

.title {
  display: none; /* Hide folder titles */
}

.children {
  display: none; /* Hide folder titles */
}

#loading-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 5px;
  color: white;
  display: none;
}




  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media (max-width: 600px) {
    .column.side, .column.middle {
      width: 100%;
    }
  }