* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 20px;
    height: 100%;
  }
  
  .header {
    background-color: #f1f1f1;
    padding: 5px;
    text-align: center;
    font-size: 10px;
  }

  .column {
    float: left;
    padding: 0px;
    height: 90vh;
  }
  
  .column.left {
    width: 200px;
  }
  
  .column.middle {
    width: calc(60% - 100px);
  }

  .column.right {
    position: relative;
    width: calc(40% - 100px);
    padding: 12px;
  }
  
  .atom-content {
    position: absolute;
    top: 25%; 
    width: 100%;
    padding: 10px;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .footer {
    background-color: #f1f1f1;
    padding: 5px;
    text-align: center;
  }
  
  .label {
    margin-left: 25px;
    position: absolute;
    color: black; 
    font-family: serif; 
    font-size: 12px; 
    pointer-events: none; 
  }

  .button-container {
    position: absolute;
    bottom: 0;
  }

  .button-container button {
    margin-right: 10px;
    margin-bottom: 20px;

}

  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media (max-width: 600px) {
    .column.side, .column.middle {
      width: 100%;
    }
  }